<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All items</title>
</head>
<body>

<div>
    <p>company: {{ item.property_type }} {{ item.company }}</p>

    <p>Contact: {{ item.contact }}</p>

    <p>Address from: {{ item.address_from }}</p>

    <p>Address to: {{ item.address_to }}</p>

    <p>Date send: {{ item.date_send }}</p>

    <p>Description: {{ item.description }}</p>

    <p>Weight: {{ item.weight }}</p>

    <p>Parcel Size: {{ item.size }}</p>

</div>

<a href="{% url 'index' %}">Back to requests</a>

</body>
</html>